{{ range .Articles }}
<div class="blog-post">
  <h2 class="blog-post-title"><a href="/articles/{{.SimpleName}}">{{.Title}}</a></h2>
  <p class="blog-post-meta">{{.FormattedPublishedDate}}</p>
  {{.ParsedBody}}
</div>
{{ end }}
